:root{
    --teal: #007d7b;
    --black: #000;
    --white: #fff;
    --fonts: Arial, Helvetica, sans-serif;

}
html{
    width: 1000px;
    margin: 0 auto;
}
body {
    font-family: var(--fonts);
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--black);
    width: 90%;
    margin: 0 auto;
}

p {
    font-size: 1.25em;
}

figcaption, label, input, small {
    font-size: 1em;
}

nav a {
    font-size: 1.5em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    text-align: center;
}

header {
    background-color: var(--black);
}

#title {
    margin: 0 auto;
    background-color: var(--white);
    color: var(--teal);
    padding: 5px 10px;
}


nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

nav ul li {
    list-style: none;
}
    
nav ul li a {
    color: var(--white);
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    color:  var(--teal);
}

[href="#top"] {
    position: fixed;
    bottom: 0;
    right: 0;
    border-top: 2px solid var(--white);
    border-left: 2px solid var(--white);
}

main div {
    background-color: var(--white);
}

section {
    padding: 10px;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

#gallery h2, #gallery p {
    grid-column: 1/-1;
}

section figure {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

figure img {
    width: 100%;
}

#contact {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

::placeholder {
    color: var(--teal);
    font-variant: small-caps;
}

footer {
    text-align: center;
    color: var(--white);
}
@media screen and (min-width: 485px) {
    #gallery {
        grid-template-columns: 0.5fr 0.5fr;
    }
}
@media screen and (min-width: 1300px) {
    nav ul {
        justify-content: end;
    }
    #gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    
}


@media screen and (min-width: 485px) {
    
}
