:root{
    --teal: #007d7b;
    --black: #000;
    --white: #fff;
    --fonts: Arial, Helvetica, sans-serif;

}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--fonts);
    background-color: var(--black);
    margin: 0 auto;
    min-width: 300px;
}

header, main, footer {
    width: 90%;
    margin: 0 auto;
}

p {
    font-size: 1.25em;
}

figcaption, label, input, small {
    font-size: 1em;
}

nav a {
    font-size: 4vw;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h1, h2, nav ul, small {
    text-transform: uppercase;
}

header {
    background-color: var(--black);
}

#title {
    font-size: 9vw;
    margin: 0 auto;
    background-color: var(--white);
    color: var(--teal);
    padding: 5px 10px;
    white-space: nowrap;
}


nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    padding: 0 10px 0 20px;
}

nav ul li {
    list-style: none;
}
    
nav ul li a {
    color: var(--white);
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    color:  var(--teal);
}

[href="#top"] {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--black);
    border-top: 2px solid var(--white);
    border-left: 2px solid var(--white);
}

main div {
    color: var(--black);
    background-color: var(--white);
}

section {
    padding: 10px;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

#gallery h2, #gallery p {
    grid-column: 1/-1;
}

section figure {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

figure img {
    width: 100%;
}

figcaption {
    position: relative;
    color: var(--black);
    font-weight: bold;
}

.bottomText {
    top: -30px;
}

.tallImgTopText {
    bottom: 95%;
}

.topText {
    bottom: 90%;
}

.whiteFont {
    color: var(--white);
}

#contact {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

::placeholder {
    color: var(--teal);
    font-variant: small-caps;
}

footer {
    text-align: center;
    color: var(--white);
    padding: 30px 0 10px 0;
    
}

@media screen and (min-width: 485px) {
    nav a {
        font-size: 1.5em;
    }
    #title {
        font-size: 3em;
    }
    #gallery {
        grid-template-columns: 0.5fr 0.5fr;
    }
}
@media screen and (min-width: 1300px) {
    nav ul {
        justify-content: end;
        padding: 0;
    }
    #gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    
}